body {
    margin: 0px;
}

nav{
    width: 100%;
    height: 70px;
    display: block;
    
}

.navbar-brand { 
    font-size: 30px;
    font-family: "MYUNGJO";
    color: gray;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    height:70px;
    width: 30%;
    margin: 10px 10px;
    display: inline;
}

.navbar-nav {
    float: right;
    margin: 2px 5px;
    display: block;
    font-family: "MYUNGJO";
}
li{
    display: inline;
    padding: 5px;
}
li a {
    font-size: 20px;
    text-decoration: none;
    color: gray;
}
li hover { 
    color: black;}
    

header {
    width: 100%;
    height: 700px;
    background-image: url(꽃.jpg);
    background-position: center;
    background-size: cover;
    display: block;
}

.header-container {
    width:100%;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: gray;
    padding: 100px 100px;
    display: block;
}
header p {
    font-size: 20px;
    text-align: center;
    color: gray;
    padding: 30px 30px;
    display: block;
}

.section-container {
    width: 100%;
    margin-top: 100px;
    display: block;
}

.section {
   padding: 20px;
    width: 960px;
    text-align: center;
    height: 450px;
    position: relative;
    vertical-align: middle;
    margin: 100px;
}

.article1 {
    background-image: url("발1.bmp");
    width: 280px;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    font-family: "myungjo";
    color: gray;
    margin: 10px;
    vertical-align: middle;
}
.article2 {
    background-image: url("냠냠1.bmp");
    width: 280px;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    font-family: "myungjo";
    color: gray;
    margin: 10px;
    vertical-align: middle;
}

.article3 {
    background-image: url("영화1.bmp");
    width: 280px;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    font-family: "myungjo";
    color: gray;
    margin: 10px;
    vertical-align: middle;
}
.footer {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: black;
    
}